/* popup */
.layer-popup {
  position: absolute;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 2px 3px 10px #555;
  border-radius: 10px;
  height: auto !important;
}
.layer-popup:nth-child(1) {
  left: 0;
}
.layer-popup img {
  width: 100%;
  height: auto !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.layer-popup .show-chk-wrap {
  display: flex;
  padding: 10px 20px;
  box-sizing: border-box;
  justify-content: space-between;
}
.layer-popup .show-chk-wrap a {
  font-size: 16px;
  font-weight: 700;
}
.pc {
  display: block;
}
.mobile {
  display: none !important;
}
.main-banner-container{
  width: 100%;
  position: relative;
  overflow: hidden;
}
.main-banner-container img{
  width: 100%;
  cursor: pointer;
}
.main-banner-container .swiper-pagination-bullet{
  border-radius: 8px;
  opacity: 0.25;
  background: #FFF;
  width: 8px;
  height: 8px;
}
.main-banner-container .swiper-pagination-bullet-active{
  width: 40px !important;
  height: 8px;
  opacity: 0.85 !important;
  transition: all 0.5s;
}
.sc-title{
  color: #333;
  font-family: 'SCoreDream';
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -2px;
  text-align: center;
  margin-bottom: 10px;
}
.sc-title-sub{
  color: #999;
  text-align: center;
  font-family: 'Noto Sans KR';
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.75px;
  margin-bottom: 80px;
}
.section01{
  padding: 200px 0;
}
.section01 .flex-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1360px;
  margin: 0 auto;
  width: 90%;
  gap: 15px;
}
.section01 .flex-wrap img{
  width: 20%;
}
.section02{
  padding: 145px 0;
  background: url("../img/main/s02-bg.png") !important;
  background-size: cover !important;
  background-position: center center !important;
  text-align: center;
}
.section02 .icon{
  width: 50px;
}
.section02 .sub{
  margin: 12px 0 50px;
  color: #4FFF95;
  font-family: 'Noto Sans KR';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
  letter-spacing: -0.72px;
}
.section02 .txt{
  color: #FFF;
  font-family: 'SCoreDream';
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.section02 .txt .colored{
  color: #4FFF95;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10);
}
.section02 a{
  border-radius: 35px;
  border: 1px solid #4FFF95;
  padding: 10px 40px 9px;
  color: #4FFF95;
  font-family: 'Noto Sans KR';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.72px;
}
.section02 a:hover{
  background: #4FFF95;
  color: #fff;
  transition: all 0.5s;
}
.section03{
  padding: 250px 0;
  overflow: hidden;
}
.section03 .flex-wrap{
  display: flex;
  gap: 2%;
  justify-content: center;
  align-items: center;
  padding: 150px 0;
}

.section03 .flex-wrap .txt-wrap{
  width:50%;
  position: relative;
  z-index: 1;
}
.section03 .flex-wrap .txt-wrap::before{
  content: "";
  position: absolute;
  height: 63px;
  background: #3EB86F;
  top: 13%;
}
.section03 .first .txt-wrap::before{
  width: 81%;
  left: 0;
  z-index: 0;
  border-radius: 0px 10px 10px 0px;
}
.section03 .first .txt-wrap .inner{
  max-width: 610px;
  margin-left: auto;
}
.section03 .second .txt-wrap::before{
  width: 88%;
  right: 0;
  z-index: 0;
  border-radius: 10px 0px 0px 10px;
}
.section03 .second .txt-wrap .inner{
  max-width: 610px;
  margin-right: auto;
  margin-left: unset;
  padding-left: 15%;
}
.section03 .third .txt-wrap::before{
  width: 99%;
  left: 0;
  z-index: 0;
  border-radius: 0px 10px 10px 0px;
}
.section03 .third .txt-wrap .inner{
  max-width: 855px;
  margin-left: auto;
  padding-left: 5%;
}
.section03 .fourth .txt-wrap::before{
  width: 93%;
  right: 0;
  z-index: 0;
  border-radius: 10px 0px 0px 10px;
}
.section03 .fourth .txt-wrap .inner{
  max-width: 925px;
  margin-right: auto;
  padding-left: 10%;
}
.section03 .flex-wrap .txt-wrap .inner{
  width: 100%;
}
.section03 .flex-wrap .txt-wrap .inner .title{
  color: #1E1E1E;
  font-family: 'SCoreDream';
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -1.75px;
  position: relative;
  z-index: 1;
}
.section03 .flex-wrap .txt-wrap .inner .title-mo{
  display: none;
}
.section03 .flex-wrap .txt-wrap .inner .sub-mo{
  display: none;
}
.section03 .flex-wrap .txt-wrap .inner .title strong{
  color: #1E1E1E;
  font-family: 'SCoreDream';
  font-size: 90px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -4.5px;
}
.section03 .flex-wrap .txt-wrap .inner .txt{
  color: #555;
  font-family: 'Noto Sans KR';
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 134.615% */
  letter-spacing: -0.78px;
  margin: 40px 0 50px;
  word-break: keep-all;
}
.section03 .flex-wrap .txt-wrap .inner .more{
  padding: 10px 30px;
  box-sizing: border-box;
  color: #3EB86F;
  font-family: 'Noto Sans KR';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.6px;
  border-radius: 25px;
  border: 1px solid #3EB86F;
  display: inline-block;
}
.section03 .flex-wrap .txt-wrap .inner .more:hover{
  background: #3EB86F;
  color: #fff;
  transition: all 0.5s;
}
.section03 .flex-wrap .img-wrap{
  width: 50%;
}
.section03 .flex-wrap .img-wrap img{
  width: 100%;
}
.section03 .flex-wrap .img-wrap .tablet{
  display: none;
}
.section04{
  padding: 200px 0;
  text-align: center;
}
.section04 .portfolio-slide-container{
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 120px;
}
.section04 .portfolio-slide-container .swiper-slide{
  width: 100%;
  height: 360px;
  background-position: center center !important;
  background-size: cover !important;
  border-radius: 15px;
}
.section04 a{
  border-radius: 35px;
  border: 1px solid #3EB86F;
  padding: 16px 60px;
  box-sizing: border-box;
  color: #3EB86F;
  font-family: 'Noto Sans KR';
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.78px;
}
.section04 a:hover{
  background: #3EB86F;
  color: #fff;
  transition: all 0.5s;
}
.section05{
  padding: 200px 0;
  text-align: center;
}
.section05 .partner-slide-container{
  width: 100%;
  position: relative;
  overflow: hidden;
}
.section05 .partner-slide-container:nth-child(3){
  margin-bottom: 50px;
}
.section05 .partner-slide-container img{
  width: 100%;
  cursor: pointer;
}
.section05 .more{
  border-radius: 10px;
  background: #3EB86F;
  display: inline-block;
  padding: 15px 60px;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Noto Sans KR';
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.78px;
  margin: 135px auto 0;
}
.section05 .more img{
  width: 27px;
  position: relative;
  bottom: 2px;
}

@media (max-width: 1815px) {
  .section03 .flex-wrap .txt-wrap .inner .title strong{
    font-size: 80px;
  }
  .section03 .flex-wrap .txt-wrap::before{
    height: 58px;
  }
}
@media (max-width: 1650px) {
  .section03 .flex-wrap .txt-wrap .inner .title strong{
    font-size: 70px;
  }
  .section03 .flex-wrap .txt-wrap::before{
    height: 55px;
  }
}
@media (max-width: 1495px) {
  .section03 .flex-wrap{
    padding: 120px 0;
  }
  .section03 .flex-wrap .txt-wrap .inner .title strong{
    font-size: 50px;
  }
  .section03 .flex-wrap .txt-wrap::before{
    height: 50px;
    top: 7%;
  }
  .section03 .flex-wrap .txt-wrap .inner .title{
    font-size: 30px;
  }
  .section03 .first .txt-wrap .inner{
    padding-left: 5%;
  }

}
@media (max-width: 1120px) {
  .section03 .flex-wrap{
    padding: 100px 0;
  }
  .section03 .flex-wrap .txt-wrap .inner .title strong {
    font-size: 45px;
  }
  .section03 .flex-wrap .txt-wrap .inner .title {
    font-size: 27px;
  }
  .section03 .flex-wrap .txt-wrap .inner .txt{
    font-size: 24px;
  }
  .section03 .flex-wrap .txt-wrap::before {
    top: 6%;
    height: 45px;
  }
  .section03 .flex-wrap .txt-wrap .inner .more{
    font-size: 18px;
  }
}


@media (max-width: 1024px) {
  .section01{
    padding: 150px 0;
  }
  .section02{
    background: url("../img/main/s02-bg-mo.png") !important;
    background-position: center right !important;
    background-size: cover !important;
    background-repeat: no-repeat;
  }
  .section02 .txt{
    font-size: 40px;
  }
  .section03{
    padding: 0;
  }
  .section03 .flex-wrap{
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 80px;
  }
  .section03 .flex-wrap:nth-last-child(1){
    margin-bottom: 0;
  }
  .section03 .flex-wrap .img-wrap{
    width: 100%;
    order: 1;
    margin-bottom: 40px;
  }
  .section03 .flex-wrap .txt-wrap{
    width: 100%;
    order: 2;
  }
  .section03 .flex-wrap .img-wrap .pc-img{
    display: none;
  }
  .section03 .flex-wrap .img-wrap .tablet{
    display: block;
  }
  .section03 .flex-wrap .txt-wrap .inner{
    padding: 0 5% !important;
    width: 100% !important;
    max-width: unset;
    text-align: center;
  }
  .section03 .flex-wrap .txt-wrap::before{
    display: none;
  }
  .section03 .flex-wrap .txt-wrap .inner .title{
    display: none;
  }
  .section03 .flex-wrap .txt-wrap .inner .title-mo{
    display: inline;
    color: #1E1E1E;
    text-align: center;
    font-family: 'SCoreDream';
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2px;
    position: relative;
    z-index: 5;
  }
  .section03 .flex-wrap .txt-wrap .inner .sub-mo{
    color: #777;
    text-align: center;
    font-family: 'SCoreDream';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.7px;
    margin-top: 15px;
  }
  .section03 .flex-wrap .txt-wrap .inner .title-mo::before{
    content: "";
    position: absolute;
    height: 30px;
    border-radius: 5px;
    background: #3EB86F;
    z-index: -1;
    bottom: 0;
  }
  .section03 .first .txt-wrap .title-mo::before,
  .section03 .second .txt-wrap .title-mo::before{
    width: 130%;
    left: -13%;
  }
  .section03 .third .txt-wrap .title-mo::before,
  .section03 .fourth .txt-wrap .title-mo::before{
    width: 110%;
    left: -4%;
  }
  .section03 .flex-wrap .txt-wrap .inner .sub-mo{
    display: block;
  }
  .section04{
    padding: 150px 0;
  }
  .section04 a{
    padding: 13px 60px;
    font-size: 22px;
  }
  .section05 {
    padding: 150px 0;
  }
  .section05 .more{
    font-size: 23px;
  }
  .section05 .more img {
    width: 25px;
  }
}
@media (max-width: 768px) {
  .layer-popup {
    max-width: 90%;
    top: 5%;
    left: 5%;
  }
  .pc {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .sc-title{
    font-size: 35px;
  }
  .sc-title-sub{
    font-size: 20px;
    margin-bottom: 50px;
  }
  .section01{
    padding: 100px 0;
  }
  .section01 .flex-wrap.mobile{
    display: flex !important;
  }
  .section01 .flex-wrap{
    flex-wrap: wrap;
  }
  .section01 .flex-wrap img{
    width: calc(33% - 15px);
  }
  .section02{
    padding: 100px 0;
  }
  .section02 .txt {
    font-size: 30px;
  }
  .section02 a{
    font-size: 20px;
  }
  .section03 .flex-wrap .txt-wrap .inner .title-mo{
    font-size: 40px;
  }
  .section03 .flex-wrap .txt-wrap .inner .title-mo::before{
    height: 28px;
  }
  .section03 .flex-wrap .txt-wrap .inner .sub-mo{
    font-size: 18px;
    margin-top: 10px;
  }
  .section03 .flex-wrap .txt-wrap .inner .txt {
    font-size: 20px;
  }
  .section03 .flex-wrap .txt-wrap .inner .more {
    font-size: 16px;
  }
  .section03 .flex-wrap {
    margin-bottom: 50px;
  }
  .section04{
    padding: 180px 0 100px;
  }
  .section04 .portfolio-slide-container{
    margin-bottom: 90px;
  }
  .section04 a {
    font-size: 20px;
  }
  .section05 {
    padding: 100px 0;
  }
  .section05 .more {
    font-size: 20px;
    padding: 13px 50px;
    margin: 80px auto 0;
  }
  .section05 .more img {
    width: 23px;
  }

  .test{
    padding: 0;
  }
}

@media (max-width: 480px) {
  .sc-title {
    font-size: 30px;
  }
  .sc-title-sub{
    font-size: 18px;
  }
  .section02 .txt {
    font-size: 20px;
  }
  .section02 .sub{
    font-size: 20px;
  }
  .section02 a {
    font-size: 18px;
  }
  .section03 .flex-wrap .txt-wrap .inner .title-mo {
    font-size: 35px;
  }
  .section03 .flex-wrap .txt-wrap .inner .sub-mo {
    font-size: 16px;
  }
  .section03 .flex-wrap .txt-wrap .inner .txt {
    font-size: 16px;
    line-height: 30px;
  }
  .section03 .flex-wrap .txt-wrap .inner .more {
    font-size: 14px;
  }
  .section04 .portfolio-slide-container{
    margin-bottom: 70px;
  }
  .section04 a {
    font-size: 17px;
  }
}
